
.rcw-launcher {
    box-shadow: 0px 0px 0px 2px #ffffff;
    background-color: #131313;
}

.rcw-conversation-container {
    box-shadow: none;
}

.rcw-messages-container {
    background-color: #1a1a1a;
}
::-webkit-scrollbar {
    width: 5px;  /* Remove scrollbar space */
    background: #1a1a1a;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #0064c7;
    border-radius: 20px;
}

.rcw-conversation-container > .rcw-header {
    background-color: #0d0d0d;
    padding: 0;
}

.rcw-conversation-container > .rcw-header > .rcw-close-button {
    background-color: #0d0d0d;
}

.rcw-conversation-container .rcw-title {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    font-size: 20px;
}
  
.rcw-message > .rcw-response > .rcw-message-text, .rcw-message > .rcw-client > .rcw-message-text {
    max-width: 100%;
    font-size: 12px;
    padding: 10px;
}

.rcw-message > .rcw-response > .rcw-message-text {
    background-color: #0064c7;
}


.rcw-message > .rcw-client > .rcw-message-text {
    background-color: #11acff;
}

@media only screen and (max-width: 800px) {
    .rcw-widget-container {
        height: fit-content;
    }
    .rcw-conversation-container .rcw-title {
        padding: 15px 0 15px;
    }

    .rcw-conversation-container{
        height: 0%;
    }

    .rcw-conversation-container.active{
        height: 100vh;
    }
}
